.main {
  width: 100vw;
  height: 91vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hItem {
  color: white;
  font-family: cursive;
  font-size: 40px;
}
#btnItem {
  font-family: cursive;
  border-radius: 10%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 1%;
  color: rgb(96, 165, 96);
  border: none;
  color: white;
  font-size: 21px;
  background-color: forestgreen;
  &:hover {
    color: forestgreen;
    background-color: rgb(143, 243, 100);
    font-weight: bold;
  }
}
