.logo {
  color: rgb(46, 188, 46);
  font-weight: bold;
  position: absolute;
  top: 2vh;
  left: 5vw;
  font-size: 2rem;
  font-family: cursive;
}

@media (max-width: 700px) {
  .logo {
    font-size: 1.2rem;
  }
}
