.about {
  width: 100vw;
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  border-radius: 70%;
  padding: 10px;
  background-color: rgba(0, 100, 0, 0.625);
  color: wheat;
  font-size: 30px;
  margin-bottom: 0;
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}

.paragraph {
  background-color: rgba(255, 255, 255, 0.589);
  width: 80vw;
  font-size: 25px;
  text-align: justify;
  box-shadow: 10px;
  padding: 3vh;
  margin-top: 0;
  border-radius: 10%;
  border-end-end-radius: 0%;
  border-top-left-radius: 0%;
}

@media (max-width: 1200px) {
  .paragraph {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .paragraph {
    font-size: 14px;
    padding: 1vh;
    border-radius: 3%;
  }
}
